*.lyx~
*.lyx.emergency
*\#*
temp
temp.*

*.vti
*.vtk
*.xmf
*.h5
*.csv
*__pycache__*


chapter*.pdf
annex*.pdf
ccl/thanks.pdf

macros.lyx
.textidote
thesis.bib
dico.txt



defense/Figures/main
defense/defense.pdf
defense/text.pdf
**/Tikz/**/*.pdf

pdfpc
